.pad-content {
  padding: 2rem .5rem 4rem;
}

blockquote {
  background-color: var(--color-primary-tint);
  border-inline-start: .5rem solid var(--color-secondary);
  padding: 1.5rem 2rem;
  font-family: 'Bitter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.fig-container {
  border: 1px solid var(--color-dark-highlight);
  box-shadow: var(--shadow);
}

.fig-container img {
  padding: 1.5rem;
}

figcaption {
  font-size: .95rem;
  padding: 0rem 1.5rem 1rem;
  line-height: 1.6;
}

code {
  background: var(--color-dark-tint);
  border: 1px solid var(--color-dark-highlight);
  border-radius: .25rem;
  padding: .15rem .25rem .125rem;
  font-size: 1.1rem;
}

[class*='language'] code {
  border: 0;
}

.caption  {
  font-size: 1rem;
  background: var(--color-primary-tint);
  border: 1px solid var(--color-primary);
  padding: 1rem;
}

.reading ul li {
  line-height: 1.35;
}

.reading ol li,
.reading ul li {
  margin-bottom: 1rem;
}

.reading ul,
.reading ol  {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.reading ol li p {
  line-height: 1.3;
}

.tag-cap {
  text-transform: capitalize;
}

/* Pagination -------------------------------------------------- */
[dir="rtl"] .pagination-arrow {
  display: none;
}

.post-nav-item {
  max-width: 45%;
  margin-bottom: .5rem;
}

.post-nav-item a:hover {
  background-color: var(--color-primary-banding);
  color: var(--color-darkest);
}

/* Type -------------------------------------------------------- */
.reading p,
.reading {
  font-size: clamp(1.18rem, 2.5vw, 1.25rem);
  line-height: 1.7;
}

.reading h2 {
  font-size: 1.45rem;
  color: var(--color-secondary);
  margin-top: calc(var(--flow-space) * 3.5);
  scroll-margin-top: 1ex;
}

.reading h2:first-child {
  margin-top: 0;
}

.reading h3 {
  font-size: 1.3rem;
  color: var(--color-primary);
  font-weight: 700;
}

.reading h2 + p {
  margin-top: .5rem;
}

.reading h3 + p {
  margin-top: .25rem;
}

.anchor-link {
  text-decoration: none;
  font-weight: 500;
}


/* Buttons ----------------------------------------------------- */
.button-dark {
  background: var(--color-dark);
  color: var(--color-dark-tint);
  border: 1px solid var(--color-dark);
}

.button-dark:hover {
  border: 1px solid var(--color-dark);
}

/* Components -------------------------------------------------- */
.caveat {
  background-color: var(--color-primary-highlight);
  color: var(--color-darkest);
  padding: 1.5rem;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 2rem;
}

.caveat-wrapper {
  display: flex;
}

.caveat-wrapper p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.caveat-icon {
  margin-right: .5rem;
}

.caveat-text {
  margin-top: .1rem;
}

.caveat-wrapper h2 {
  font-size: 1.4rem;
  color: var(--color-darkest);
  margin-top: 0;
}

.caveat-wrapper h2 + p {
  margin-top: 0;
}


/* Video player ------------------------------------------------ */
.video-player {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.video-player iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Media Queries ---------------------------------------------- */
@media screen and (max-width: 800px) {

  .reading p,
  .reading {
    line-height: 1.6;
  }

  .pad-content {
    padding: .5rem 1rem 2rem;
  }

}
