blockquote {
  background-color: var(--blockquote-bg);
  border-inline-start: .5rem solid var(--color-secondary);
  padding: 1.5rem 2rem;
  font-family: 'Bitter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

blockquote > * + * {
  margin-block-start: 1rem;
}

cite {
  font-style: normal;
}

.fig-container {
  border: 1px solid var(--color-dark-highlight);
  box-shadow: var(--shadow);
}

.fig-container img {
  padding: 1rem;
  padding: clamp(1rem, 2.5vw, 1.5rem);
  margin-inline: auto;
}

figcaption {
  font-size: .95rem;
  padding: 0rem 1.5rem 1rem;
  padding: 0rem clamp(1rem, 2.5vw, 1.5rem) 1rem;
  line-height: 1.6;
}

code {
  background: var(--code-bg);
  color: var(--code-text);
  border-radius: .25rem;
  padding: .15rem .25rem .125rem;
  font-size: 1.1rem;
  font-family: var(--body-meta);
  font-weight: 500;
}

a:hover code {
  background: unset;
}

:is(h2,h3,h4) code {
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

[class*='language'] code {
  border: 0;
}

.caption  {
  font-size: 1rem;
  background: var(--caption-bg);
  border: 1px solid var(--color-primary);
  padding: 1rem;
}

.reading li {
  margin-bottom: .75rem;
  line-height: 1.5;
}

.reading :is(ol, ul)  {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
}

.reading li p {
  line-height: 1.3;
}

.reading ul li ul {
  list-style-type: square;
}

.landing-summary {
  font-family: 'Bitter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-top: .25rem;
}

.tag-cap {
  text-transform: capitalize;
}

.reading hr {
  margin: 3rem 0;
  border: 0;
  border-top: 1px solid var(--color-dark-highlight);
}

.no-wrap {
  white-space: nowrap;
}

.img-center {
  margin: 0 auto;
}

.kofi {
  display: flex;
  justify-content: center;
  margin: 3rem auto 1.5rem;
}

.kofi a:hover {
  background: unset;
}


/* Pagination -------------------------------------------------- */
[dir="rtl"] .pagination-arrow {
  display: none;
}

.post-nav-item {
  max-width: 45%;
  margin-bottom: .5rem;
}

.post-nav-item a:hover {
  background-color: var(--color-primary-banding);
  color: var(--color-darkest);
}

.post-nav-item:last-of-type {
  text-align: right;
}

/* Type -------------------------------------------------------- */
.reading {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 2.5vw, 1.25rem);
  line-height: 1.7;
}

.heading-wrapper  {
  margin-top: calc(var(--flow-space) * 3.5);
}

.heading-wrapper h2 {
  font-size: 1.45rem;
  color: var(--heading-big);
  scroll-margin-top: 1ex;
}

.heading-wrapper h3 {
  font-size: 1.3rem;
  color: var(--heading-small);
  font-weight: 700;
}

.heading-wrapper h4 {
  font-size: inherit;
  font-weight: 600;
}

.heading-wrapper + p,
.heading-wrapper h3 + p,
.heading-wrapper h4 + ul  {
  margin-top: .5rem;
}

.reading h4 + p {
  margin-top: 0;
}

.heading-wrapper :is(h1, h2, h3, h4, h5, h6) {
  display: inline;
}

.anchor-link {
  text-decoration: none;
  font-weight: 500;
}

.anchor-icon {
  vertical-align: -.2em;
}

a.anchor-link:hover {
  background: unset;
}

a.anchor-link:hover svg {
  stroke: var(--color-secondary);
}

/* Buttons ----------------------------------------------------- */
.button-dark {
  background: var(--color-dark);
  color: var(--color-dark-tint);
  border: 1px solid var(--color-dark);
}

.button-dark:hover {
  border: 1px solid var(--color-dark);
}

/* Components -------------------------------------------------- */
.caveat {
  background-color: var(--color-primary-highlight);
  color: var(--color-darkest);
  padding: 1.5rem;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 2rem;
}

.caveat-wrapper {
  display: flex;
}

.caveat-wrapper p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.caveat-icon {
  margin-right: .5rem;
}

.caveat-text {
  margin-top: .1rem;
}

.caveat-wrapper h2 {
  font-size: 1.4rem;
  color: var(--color-darkest);
  margin-top: 0;
}

.caveat-wrapper h2 + p {
  margin-top: 0;
}

/* Video player ------------------------------------------------ */
.video-player {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.video-player iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
