.hp-hero {
  display: grid;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 4rem 1rem;
  color: var(--color-primary-tint);
  font-size: 1.4rem;
  line-height: 1.65;
  box-shadow: var(--shadow);
  margin: 0 -.5rem 3rem;
}

.wrapper-intro {
  display: flex;
  flex-wrap: wrap;
}

/* used for flex wrapper to center image */
.intro-image {
  margin-right: auto;
  margin-left: auto;
}

.intro {
  margin-left: 2rem;
}

@supports (display: grid) {
	.wrapper-intro {
		display: grid;
		grid-template-columns: repeat(1, 270px) 1fr;
		gap: 2rem;
		place-items: center;
	}

  .intro-image,
  .intro {
    margin: 0;
  }

	@media screen and (max-width: 900px) {
		.wrapper-intro {
			display: grid;
			grid-template-columns: auto;
			justify-content: center;
      gap: 1rem;
		}
  }
}

.wrapper-intro * img {
  border-radius: 44% 56% 70% 30% / 52% 42% 58% 48%;
  border: 10px solid var(--color-primary, #00365d);
}

.intro-image-inner {
  border-radius: 54% 56% 70% 40% / 52% 62% 58% 48%;
  border: 5px solid var(--color-highlight-orange);
  padding: .25rem;
}

.intro-image-highlight {
  border-radius: 66% 56% 70% 40% / 52% 62% 65% 48%;
  border: 2px solid var(--color-highlight-green);
}

.intro p {
  margin-top: 1rem;
}

.promo-summary h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

.home-flow > * + * {
  margin-top: 6rem;
}

.home-flow:last-child {
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .hp-hero {
    padding: 2.5rem 1.5rem;
    font-size: 1.15rem;
    margin-bottom: 2rem;
  }

  .promo-summary h2 {
    font-size: 1.9rem;
  }

  .home-flow > * + * {
    margin-top: 5rem;
  }

  .home-flow:last-child {
    margin-bottom: 1rem;
  }
}

/* Featured projects section */
.projects-hp-card {
  background: var(--color-primary-tint, #f6f9fc);
  border: 1px solid var(--color-primary, #00365d);
  box-shadow: var(--shadow);
  position: relative;
}

.projects-hp-card  a[href]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projects-hp-card:hover, .projects-hp-card:focus-within {
  border-color: var(--color-secondary, #c07);
  box-shadow: 0 0 .75rem #c07;
}

.project-hp-content h3 a {
  text-decoration: none;
}

.project-hp-content h3 a:focus {
  outline: unset;
  outline-offset: unset;
}

.project-hp-content h3 a:hover {
  background: unset;
  color: var(--color-secondary);
}

.project-hp-content {
  padding: 1rem 1rem 2rem;
  border-top: 1px solid var(--color-primary, #00365d);
}
