/* Hero ------------------------------------------------------------- */
.hp-hero {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-primary-tint);
  font-size: 1.4rem;
  font-size: clamp(1.15rem, 2.25vw, 1.4rem);
  line-height: 1.65;
  padding: 4rem 1rem;
  padding: clamp(2rem, 5.5vw, 4rem) 2rem;
  margin-top: 1rem;
  box-shadow: var(--shadow);
}

.wrapper-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro-text {
  max-width: 47rem;
}

/* Color border woggle ------------------------------------ */
.intro-image * img {
  border-radius: 44% 56% 70% 30% / 52% 42% 58% 48%;
  border: 10px solid var(--color-primary, #00365d);
}

.intro-image-inner {
  border-radius: 54% 56% 70% 40% / 52% 62% 58% 48%;
  border: 5px solid var(--color-highlight-orange);
  padding: .25rem;
}

.intro-image-highlight {
  border-radius: 66% 56% 70% 40% / 52% 62% 65% 48%;
  border: 2px solid var(--color-highlight-green);
}

/* Ugh wanted to figure a different way to handle these --- */
@media screen and (max-width: 900px) {
  .wrapper-intro * img {
    width: 180px;
  }

  :is(h1, .intro-text > p) {
    text-align: center;
  }
}

/* Content ---------------------------------------------------------- */
.promo-summary {
  font-size: 2rem;
  font-size: clamp(1.9rem, 2.5vw, 2rem);
  color: var(--heading-big);
}

/* Project cards ------------------------------------------ */
.projects-hp-card {
  background: var(--studio-card-bg, #f6f9fc);
  border: 1px solid var(--color-primary, #00365d);
  box-shadow: var(--shadow);
  position: relative;
  /* outline: 1px solid transparent; */
}

.projects-hp-card  a[href]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projects-hp-card:hover, .projects-hp-card:focus-within {
  border-color: var(--studio-card-focus, #c07);
  box-shadow: 0 0 .75rem var(--studio-card-focus);
  outline: 5px solid transparent;
}

.project-hp-content h3 {
  margin-block-end: .5rem;
}

.project-hp-content h3 a {
  text-decoration: none;
}

.project-hp-content h3 a:focus {
  outline: unset;
  outline-offset: unset;
}

.project-hp-content h3 a:hover {
  background: unset;
  color: var(--studio-card-focus);
}

.project-hp-content {
  padding: 1rem 1rem 2rem;
  border-top: 1px solid var(--color-primary, #00365d);
}

/* Utility - flow --------------------------------------------------- */
.home-flow > * + * {
  margin-top: 6rem;
  margin-top: clamp(5rem, 3vw, 6rem);
}

.home-flow:last-child {
  margin-bottom: 2rem;
  margin-bottom: clamp(.5rem, 3vw, 2rem);
}
