.grid-container-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.project-card {
  background: var(--color-primary, #00365d);
  color: var(--color-primary-tint, #f6f9fc);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-card h2 a {
  background: var(--color-secondary, #c07);
  color: var(--color-primary-tint, #f6f9fc);
  text-decoration: none;
  padding: .15rem .5rem;
}

.project-card a {
  color: var(--color-primary-tint);
}

.project-card a:hover {
  background: var(--color-secondary-highlight);
  color: var(--color-secondary);
  text-decoration: none;
}

.project-card a:focus {
  outline: 2px dashed var(--color-lightest);
}

.project-summary {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}

.landing-card {
  border: 1px solid var(--color-primary);
  box-shadow: var(--shadow);
  content-visibility: auto;
}

.project-external a {
  background: var(--color-dark);
  color: var(--color-primary-tint);
  text-decoration: none;
  padding: .5rem 1rem;
}

.project-external a:hover {
  background: var(--color-secondary);
  color: var(--color-primary-tint);
}


@media screen and (max-width: 800px) {
  .project-summary {
    margin-bottom: 2rem;
  }
}
