.project-landing {
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  padding-inline: .5rem;
}

.project-grid {
  --min: 30ch;
  --gap: 2rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--project-card-bg);
  border: 1px solid var(--project-card-border);
}

.project-card > picture {
  aspect-ratio: 3/2;
  border-bottom: 1px solid var(--project-card-border);
  object-fit: cover;
  width: 100%;
}

.project-card > :last-of-type:not(picture, h2) {
  margin-block-end: 1.5rem;
}

.project-card > :not(picture) {
  margin-inline: 1rem;
}

.project-card > h2 {
  font-size: 1.25rem;
}

.project-card > :not(img, h2) {
  font-size: 1rem;
}

.project-card a:focus-visible {
  outline: 2px solid var(--project-card-focus);
  outline-offset: .1rem;
  overflow: auto;
  text-decoration: none;
}
