.grid-container-project-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: var(--flow-space);
}

.project-hero {
  background: var(--color-primary, #00365d);
  color: var(--color-primary-tint, #f6f9fc);
  padding: 2rem 1rem 2.5rem;
  box-shadow: var(--shadow);
}

h2.project-hero-label {
  color: var(--color-primary-highlight);
  font-weight: 600;
  font-size: 1rem;
}

.project-hero a {
  color: var(--color-white);
}

.project-meta-list {
  justify-self: end;
}

.project-meta li {
  display: inline-block;
}

.project-meta li::after {
  content: ',\A'
}

.project-meta li:last-child::after {
  content: '';
}

@media screen and (max-width: 800px) {
  .project-hero {
    padding: 2rem 1rem;
  }

  .project-meta-list {
    justify-self: start;
  }
}
