.grid-container-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  box-shadow: var(--shadow);
  border: 1px solid var(--color-primary);
}

.project-card {
  background: var(--color-primary-tint, #f6f9fc);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-summary {
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}

.landing-card img {
  border-right: 1px solid var(--color-primary);
}

.project-external a {
  background: var(--color-dark);
  color: var(--color-primary-tint);
  text-decoration: none;
  padding: .5rem 1rem;
}

.project-external a:hover {
  background: var(--color-secondary);
  color: var(--color-primary-tint);
}

@media screen and (max-width: 745px) {
  .project-summary {
    margin-bottom: 2rem;
  }

  .landing-card img {
    border-right: unset;
    border-bottom: 1px solid var(--color-primary);
  }
}

@media screen and (max-width: 500px) {
  .grid-container-project {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
