.project-hero {
  background: var(--color-primary, #00365d);
  color: var(--color-primary-tint, #f6f9fc);
  padding: 2rem 1rem 2.5rem;
  box-shadow: var(--shadow);
}

.grid-project-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: var(--flow-space);
}

.grid-project-hero * h2 {
  color: var(--color-primary-highlight);
  font-weight: 600;
  font-size: 1rem;
}

.project-hero a {
  color: var(--color-white);
}

.project-meta-list {
  justify-self: end;
}

.project-meta {
  font-family: var(--body-meta);
}

.project-meta li {
  display: inline;
}

.project-meta li::after {
  content: ', '
}

.project-meta li:last-child::after {
  content: '';
}

.pad-project {
  padding: 2rem 0 3rem;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .project-hero {
    padding: 2rem;
  }

  .project-meta-list {
    justify-self: start;
  }

  .pad-project {
    padding: 2rem 1rem 3rem;
  }

}
