{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/content.css" %}
{% endset %}

    {% block content %}
    <article class="wrapper-content pad-content flow-150">
      {% include "partials/page-header-landing.html" %}
      {{ content | safe }}
      <div>
        <ul class="flow-0">
        {% for tag, posts in collections | dictsort %}
        {% set tagUrl %}/tag/{{ tag | replace(' ', '-') }}/{% endset %}
          <li><a href="/tag/{{ tag | slug }}" class="tag-cap">{{ tag }}</a> ({{ posts | length }})</li>
        {% endfor %}
        </ul>
      </div>
    </article>
    {% endblock %}
