<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% include "partials/meta-info.html" %}
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/img/icons/icon-192x192.png">
  <link rel="preload" href="/fonts/Shrikhand-400-latin18.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-400-latin5.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-600-latin10.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-700-latin15.woff2" as="font" type="font/woff2" crossorigin>
  <style>{{ css | cssmin | safe }}</style>
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  <script defer data-domain="danabyerly.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body id="top">
  {% include "partials/site-navigation.html" %}
  <main id="main-content" tabindex="-1">
    {% block content %}{% endblock %}
  </main>
  <footer class="h-card">
    <div class="wrapper">
      {% include "partials/footer.html" %}
    </div>
  </footer>
</body>
</html>
