<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include "partials/title.html" %}
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <style>{{ css | cssmin | safe }}</style>
  <link rel="preload" href="/fonts/Shrikhand-400-latin18.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-400-latin5.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-600-latin10.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Bitter-700-latin15.woff2" as="font" type="font/woff2" crossorigin>
  <script defer data-domain="danabyerly.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% include "partials/meta.html" %}
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/img/icons/icon-192x192.png">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  <script type="module" src="/js/snow-fall.js"></script>
  <!-- Temporary! -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "peidt0cbts");
</script>
</head>
<body id="top">
  {% include "partials/header.html" %}
  <main id="main-content" tabindex="-1">
    {% block content %}{% endblock %}
  </main>
  <footer class="h-card">
    <div class="wrapper">
      {% include "partials/footer.html" %}
    </div>
  </footer>
  {% if page.url === '/404.html' %}
  <script>plausible("404",{ props: { path: document.location.pathname } });</script>
  {% endif %}
</body>
</html>
