{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] %}
  {% set pageHeaderTitle = 'Filed under "'+ tag + '"' %}
{% endif %}

      {% block content %}
      <div class="wrapper-content pad-content flow-200">

        <h1>{{ pageHeaderTitle }}</h1>
        {# commenting this out for the time being, see changeblog 2020-09-20 for details #}
        {# {% if pageHeaderSummary %}
        {{ pageHeaderSummary | safe }}
        {% endif %} #}

        <div class="flow-300">
          {% include "partials/post-list.html" %}
        </div>
          {# Revisit this if/when I have enough tagged content for pagination #}
          {% if not tag %}
            {% include "partials/pagination.html" %}
          {% endif %}
      </div>
      {% endblock %}
