{% extends "layouts/base.html" %}

{% set pageHeaderTitle = titleHP %}
{% set headingLevel = 'h3' %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/home.css" %}
{% endset %}

  {% block content %}
    <div class="pad-hero home-flow">
      <div class="hp-hero">
        <div class="wrapper-intro">
          <div class="intro-image">
            <div class="intro-image-inner">
              <div class="intro-image-highlight">
                <picture>
                  <source srcset="/img/d-f-bw-250.avif" type="image/avif">
                  <source srcset="/img/d-f-bw-250.webp" type="image/webp">
                  <img src="/img/d-f-bw-250.jpg" class="cover" width="250" height="250" alt="A very cute black and tan Chihuahua mix and Dana Byerly." />
                </picture>
              </div>
            </div>
          </div>
          <div class="wrapper-content intro">
            <h1>{{ pageHeaderTitle | safe }}</h1>
            <p>{{ author.intro | safe }}</p>
          </div>
        </div>
      </div>
      <div class="wrapper home-flow">
        <div>
          {% include "partials/articles-recent.html" %}
        </div>
        <div>
          <div class="promo-summary">
            <h2>{{ featuredProjects.title | safe }}</h2>
          </div>
          <div class="grid-container-sm">
            {% for item in projects.featured %}
            {% include "partials/project-summary-home.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
