{% extends "layouts/base.html" %}

{% set pageHeaderTitle = titleHP %}
{% set headingLevel = 'h3' %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/home.css" %}
  {% include "css/fonts.css" %}
{% endset %}

  {% block content %}
    <div class="pad-hero home-flow">
      <div class="hp-hero full-bleed">
        <div class="wrapper-intro">
          <div class="intro-image">
            <div class="intro-image-inner">
              <div class="intro-image-highlight">
                <picture>
                  <source srcset="/img/d-f-bw-250.avif" type="image/avif">
                  <source srcset="/img/d-f-bw-250.webp" type="image/webp">
                  <img src="/img/d-f-bw-250.jpg" width="250" height="250" alt="A very cute black and tan Chihuahua mix and Dana Byerly." />
                </picture>
              </div>
            </div>
          </div>
          <div class="intro-text flow-100">
            <h1>{{ pageHeaderTitle | safe }}</h1>
            <p>{{ author.intro | safe }}</p>
          </div>
        </div>
      </div>
      <div class="wrapper home-flow">
        <div>
          <h2 class="promo-summary">{{ recentArticles.title }}</h2>
          <div class="grid-container-sm">
            {% for item in collections.writing  | limit(2) %}
            {% include "partials/article-summary.html" %}
            {% endfor %}
          </div>
        </div>
        <div>
          <h2 class="promo-summary">{{ featuredStudio.title | safe }}</h2>
          <div class="grid-container-sm">
            {% for item in studio.project %}
            {% include "partials/studio-summary-home.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
