{% extends "layouts/base.html" %}

{% set pageHeaderTitle = titleHP %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/home.css" %}
  {% include "css/projects-landing.css" %}
{% endset %}

  {% block content %}
    <div class="pad-hero">
      <div class="full-bleed hp-hero">
        <div class="wrapper-intro">
          <div class="intro-image">
            <div class="intro-image-inner">
              <div class="intro-image-highlight">
                <picture>
                  <source srcset="/img/d-f-bw-250.avif" type="image/avif">
                  <source srcset="/img/d-f-bw-250.webp" type="image/webp">
                  <img src="/img/d-f-bw-250.jpg" class="cover" alt="Dana Byerly and her dog." />
                </picture>
              </div>
            </div>
          </div>
          <div class="wrapper-content intro">
            <h1>{{ pageHeaderTitle | safe }}</h1>
            <p>{{ author.intro | safe }}</p>
          </div>
        </div>
      </div>

      <div class="wrapper">
        {% include "partials/articles-recent.html" %}
        <div class="promo-section">
          <h2>{{ featuredProjects.title | safe }}</h2>
          <p>{{ featuredProjects.summary | safe }}</p>
        </div>
        <div class="flow-300">
          {% for item in projects.featured %}
          {% include "partials/project-summary.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endblock %}
