{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set headingLevel = 'h2' %}
{% set css %}
  {% include "css/global.css" %}
  {% include "css/projects.css" %}
  {% include "css/projects-landing.css" %}
  {% include "css/fonts.css" %}

{% endset %}

    {% block content %}
    <div class="wrapper pad-content flow-150">
      {% include "partials/page-header-landing.html" %}
        {{ content | safe }}

      <div class="flow-500">
        <div class="flow-300">
          {% for item in projects.featured %}
           {% include "partials/project-summary.html"%}
          {% endfor %}

          {% for item in projects.primary %}
           {% include "partials/project-summary.html"%}
          {% endfor %}
        </div>
        <p>
          <a href="#top">Back to top</a>
        </p>
      </div>
    </div>
    {% endblock %}
