{% set tagLocation = item.data.tags %}

    <article class="flow-100">
      <div class="flow-0">
        <{{ headingLevel if headingLevel else 'h2' }} class="promo-article-title"><a href="{{ item.url }}">{{ item.data.title | safe }}</a></{{ headingLevel if headingLevel else 'h2' }}>
        <p>{{ item.data.summary | safe }}</p>
      </div>

      <div class="meta">
        <time datetime="{{ item.data.page.date | w3Date }}">{{ item.data.page.date| longDate }}</time>
        {% if item.data.category %}
          {% if '/tag/' in page.url %}
            {% include 'partials/filed-in.html' %}
          {% endif %}
          {% if page.url === '/' %}
            {% include 'partials/filed-in.html' %}
          {% endif %}
        {% endif %}
      </div>
      {% include 'partials/tags.html' %}
    </article>
