<div class="full-bleed">
  <div class="caveat">
    <div class="wrapper-content caveat-wrapper">
      <div class="caveat-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-2x " width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"  aria-hidden="true" focusable="false">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M7 4a2 2 0 0 0 -2 2v3a2 3 0 0 1 -2 3a2 3 0 0 1 2 3v3a2 2 0 0 0 2 2" />
          <path d="M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3a2 3 0 0 0 -2 3v3a2 2 0 0 1 -2 2" />
        </svg>
      </div>
      <div class="caveat-text">
        <h2>Context about my dev skills...</h2>
        <p>I'm a "designer who codes" and part of the purpose of this site is to improve my front-end dev skills. My highest area of competence is layout, where I range from solid to occasionally very good. Areas like performance, tooling and anything beyond simple DOM manipulation in JS are where I'm the least skilled. These are all things I hope to improve! </p>
      </div>
    </div>
  </div>
</div>
