    <div class="flow-300">
      <div class="flow-0">
        <h2>&copy; <a href="https://danabyerly.com" class="u-url" rel="me"><span class="p-name u-author">Dana Byerly</span></a>, all rights reserved.</h2>
        <p>
          Built with <a href="{{ tools.11ty }}">Eleventy</a> and hosted at <a href="{{ tools.netlify }}">Netlify</a>, code is located at <a href="https://github.com/superterrific/dana-byerly">GitHub</a>.
        </p>
        <p>
          This site uses <a href="{{ tools.plausible }}">Plausible Analytics</a>, which does not use cookies and does not track you!
        </p>
      </div>
      <div class="wrapper-footer splitter ">
        <div class="footer-links">
          <ul class="flow-0">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <circle cx="5" cy="19" r="1" />
                <path d="M4 4a16 16 0 0 1 16 16" />
                <path d="M4 11a9 9 0 0 1 9 9" />
              </svg>
              <a href="/feed.xml">RSS</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <rect x="3" y="5" width="18" height="14" rx="2" />
                <polyline points="3 7 12 13 21 7" />
              </svg>
              <a href="mailto:hello@danabyerly.com" rel="me">Contact</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11" />
                <line x1="9" y1="7" x2="13" y2="7" />
                <line x1="9" y1="11" x2="13" y2="11" />
              </svg>
              <a href="/changelog/">Changelog</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="13 3 13 10 19 10 11 21 11 14 5 14 13 3" />
              </svg>
              <a href="/style-guide/">Style Guide</a>
            </li>
          </ul>
        </div>
        <div class="footer-links">
          <ul class="flow-0">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <circle cx="12" cy="12" r="9" />
                <path d="M10 16.5l2 -3l2 3m-2 -3v-2l3 -1m-6 0l3 1" />
                <circle cx="12" cy="7.5" r=".5" fill="currentColor" />
              </svg>
              <a href="/accessibility-statement/">Accessibility Statement</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="9" x2="19" y2="9" />
                <line x1="5" y1="15" x2="19" y2="15" />
                <line x1="11" y1="4" x2="7" y2="20" />
                <line x1="17" y1="4" x2="13" y2="20" />
              </svg>
              <a href="/tags-all/">All Tags</a>
            </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="12 8 12 12 14 14" />
                  <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                </svg>
                <a href="/archive/">Archived Versions</a>
              </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <polyline points="6 21 21 6 18 3 3 18 6 21" />
                <line x1="15" y1="6" x2="18" y2="9" />
                <path d="M9 3a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2" />
                <path d="M19 13a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2" />
              </svg>
              <a href="/colophon">Colophon</a>
            </li>
          </ul>
        </div>
        <div class="footer-links">
          <ul class="flow-0">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M3 15l9 6l9 -6l-9 -6l-9 6" />
                <path d="M3 9l9 6l9 -6l-9 -6l-9 6" />
                <line x1="3" y1="9" x2="3" y2="15" />
                <line x1="21" y1="9" x2="21" y2="15" />
                <line x1="12" y1="3" x2="12" y2="9" />
                <line x1="12" y1="15" x2="12" y2="21" />
              </svg>
              <a href="{{ author.codepenUrl }}" rel="me">CodePen</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                <circle cx="12" cy="13" r="3" />
              </svg>
              <a href="{{ author.flickrUrl }}" rel="me">Flickr</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M9 19c-4.286 1.35-4.286-2.55-6-3m12 5v-3.5c0-1 .099-1.405-.5-2 2.791-.3 5.5-1.366 5.5-6.04a4.567 4.567 0 0 0 -1.333 -3.21a4.192 4.192 0 0 0 -.08 -3.227s-1.05-.3-3.476 1.267a12.334 12.334 0 0 0 -6.222 0C6.462 2.723 5.413 3.023 5.413 3.023a4.192 4.192 0 0 0 -.08 3.227A4.566 4.566 0 0 0 4 9.486c0 4.64 2.709 5.68 5.5 6.014-.591.589-.56 1.183-.5 2V21" />
              </svg>
              <a href="{{ author.githubUrl }}" rel="me">Github</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-primary-highlight)" fill="none" stroke-linecap="round" stroke-linejoin="round" role="presentation" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
              </svg>
              <a href="{{ author.twitterUrl }}" rel="me">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
