  {%- set pageTitle = title + ' - ' + site.name -%}

  {# We don't want any duplication. This is likely for the home page. #}
  {%- if site.name === title -%}
  {%- set pageTitle = site.homepageTitle -%}
  {%- endif -%}

  {%- if '/tag/' in page.url -%}
  {% set pageTitle = 'Tagged "'+ tag + '"' + ' - ' + site.name %}
  {%- endif -%}

  {%- set siteTitle = site.name -%}
  {%- set siteDescription = summary -%}
  {%- set currentUrl = site.url + page.url -%}
  {%- set socialImage = site.url + site.socialImage -%}

  {# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch
    them into the mix. #}
  {%- if metaTitle -%}
  {%- set pageTitle = metaTitle -%}
  {%- endif -%}

  {%- if not metaDesc -%}
  {%- set metaDesc = summary -%}
  {%- endif -%}
  <title>{{ pageTitle }}</title>
  <link rel="canonical" href="{{ currentUrl }}" />
  <meta property="og:site_name" content="{{ siteTitle }}" />
  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ currentUrl }}" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Decorative image for {{ site.siteName }}" />
  <meta name="twitter:image:alt" content="Decorative image for {{ site.siteName }}" />
  {%- if siteDescription -%}
  <meta name="description" content="{{ siteDescription }}" />
  <meta name="twitter:description" content="{{ siteDescription }}" />
  <meta property="og:description" content="{{ siteDescription }}" />
  {%- endif -%}
  <meta name="monetization" content="$ilp.uphold.com/xmqJRMpPdie4">
  <link rel="icon" href="/img/icons/favicon.png" type="img/png" />
