        <div class="wrapper-content pad-content flow-300">
          <article class="flow-150 h-entry">
            {% include "partials/page-header-post.html" %}
            <div class="reading flow-200 e-content">
              {{ content | safe }}
            </div>
            <div hidden>
              <a href="{{ site.url }}{{ page.url }}" class="u-url">{{ title }}</a>
              <p class="h-card p-author">
                <a href="{{ site.url }}" class="p-name u-url" rel="author">{{ site.name }}</a>
                <img src="{{ site.url}}/img/d-f-bw-250.jpg" class="u-photo" alt="Dana Byerly">
              </p>
            </div>
          </article>

          {% if tags %}
          <div>{% include "partials/tags.html" %}</div>
          {% endif %}

          {% if nextPost or previousPost %}
          <nav class="splitter"  aria-label="Pagination links">
            <p class="post-nav-item">
              {% if previousPost %}
                <a href="{{ previousPost.url }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x pagination-arrow" width="20" height="20"  viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-secondary)" fill="none" stroke-linecap="round" aria-hidden="true" focusable="false" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="5" y1="12" x2="9" y2="16" />
                <line x1="5" y1="12" x2="9" y2="8" />
              </svg>
            {{ previousPost.data.title }}</a>
              {% endif %}
            </p>
            <p class="post-nav-item">
              {% if nextPost %}
              <a href="{{ nextPost.url }}">{{ nextPost.data.title }}
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x pagination-arrow" width="20" height="20"  viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-secondary)" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="12" x2="19" y2="12" />
                <line x1="15" y1="16" x2="19" y2="12" />
                <line x1="15" y1="8" x2="19" y2="12" /></a>
              </p>
            {% endif %}
          </nav>
          {% endif %}

          {% if '/changelog' not in page.url %}
          {% include 'partials/kofi.html' %}
          <p><a href="#top">Back to top</a></p>
          {% endif %}

        </div>
