
    <article class="projects-hp-card">
        <picture>
          <source srcset="/img/projects/{{ item.hpImg }}.avif" type="image/avif">
          <source srcset="/img/projects/{{ item.hpImg }}.webp" type="image/webp">
          <img src="/img/projects/{{ item.hpImg }}.jpg" width="600" height="389" class="img-fill" alt="{{ item.alt }}" loading="lazy">
        </picture>
        <div class="project-hp-content flow-0">
          <h3 class="promo-article-title"><a href="{{ item.projectPage }}">{{ item.title | safe }}</a></h3>
          <p>{{ item.summary | safe }}</p>
        </div>
      </article>
